iframe{
    margin-left: 2%;
    margin-top: 2%;
    height: 100%;
    width: 100%;
}

.main{
     width: 80%;
     align-items: center;
     margin-left: auto;
     margin-right: auto;
}

.sendmsg{
     width: 25%;
     margin-left: 4%;
}

.content{
     resize: none;
     background-color: #2e3234;
     border-color: #2e3234;
     width: 110%;
     padding: 2%;
     border-color: #45f035;
     border-radius: 5px;
}

.text_input{
     width: 110%;
     height: 10%;
     border-radius: 5px;
     background-color: #2e3234;
     border-color: #45f035;
     padding: 2%;
}

.submit{
     width: 100%;
     border-color: #45f035;
}

.submit:hover{
     background-color: #64ec57;
     border-color: #313233;
}

@media (max-width: 495px) {
     .sendmsg{
          width: 80%;
     }
}