.main{
     margin: 2%;
}
form{
     margin-left: auto;
     margin-right: auto;
}

.searchInput{
     width: 120%;
     background-color: #2e3234;
     border-radius: 3%;
     height: 25%;
     padding: 2px;
     margin-right: 20%;
}

.submit{
     width: 100%;
     background-color: #78e61e;
}

section{
     margin-left: auto;
     margin-right: auto;
     
}
.profile{
     display: flex;
     margin-left: 43%;     
}
.info{
     padding: 0%;
     
}

.add{
     text-align: center;
}

.btn-add{
     padding: 5%;
     height: 100%;
     background-color: #78e61e;
     color: #2e3234;
     font-weight: bold;
     border-radius: 5px;
}

.btn-add:hover{
     background-color: #67d50d;
}

@media (max-width: 495px) {
     .searchInput{
          width: 100%;
     }

     .profile{
          margin-left: auto;
          margin-left: auto;
          text-align: center;
     }
}

@media (max-width: 500px) {
     .profile{
          margin-left: auto;
          margin-left: auto;
          text-align: center;
     }
}