*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #adff2f;
    
}


body{
  background-color: #26292b;
}
form{
  text-align: center;
  width: 90%;
  padding: 5%;
  margin-left:auto;
  margin-right:auto;
}
.Somefieldset{
  text-align: center;
  padding: 2%;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logintext{
  margin-top: 25%;
  width: 50%;
}
header{
    width: 98%;
    height: 10%;
    background-color: #2e3234;
    padding: 1%;
    text-align: center;
    display: flex;
    
    
}
button{
    margin-right: 5%;
    background-color: #2e3234;
    border-width: 0;
    padding: 1%;
}


.Posts{
  text-align: center;
  width: 100%;
  margin-top: 1%;
}
.headerSection{
  width: 80%;
  height: 100%;
  padding: 1%;
  text-align: center;
  font-size: 40px;
  color: #adff2f;
}

.headerA{
  margin-right: 1%;
  color: #adff2f;
}


/*sidenav*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #26292c; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

