*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #adff2f;
    
}

.Posts{
  text-align: center;

  padding: 2%;
  margin: 1%;
  width: 44%;
}

.Profile{
display: flex;

}

.main{
  display: flex;
}
article{
  text-align: center;
  margin-left: 2%;
  width: 48%;
  height: 50%;
}


body{
  background-color: #26292b;
}
.form{
  text-align: center;
  width: 90%;
  padding: 5%;
  margin-left:auto;
  margin-right:auto;
}
.Somefieldset{
  text-align: center;
  padding: 2%;
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.logintext{
  margin-top: 25%;
  width: 50%;
}
header{
    width: 98%;
    height: 10%;
    background-color: #2e3234;
    padding: 1%;
    text-align: center;
    display: flex;
    
    
}
button{
    margin-right: 5%;
    background-color: #2e3234;
    border-width: 0;
    padding: 1%;
}



.headerSection{
  width: 80%;
  height: 100%;
  padding: 1%;
  text-align: center;
  font-size: 40px;
  color: #adff2f;
}

.headerA{
  margin-right: 1%;
  color: #adff2f;
}



/*-------------------------------------------------------------*/

/*sidenav*/
.sidenav {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #26292c; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s; 
  }
  

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
 
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  /*--------------------------------------------------------*/
  .form__input{
    width: 100%;
    padding: 2px;
    background-color: #26292c; 
    border-color: #26292b;
    border-radius: 5px;
  }

  .section{
    display: flex;
  }

  .label{
    text-align: left;
    width: 90%;
  }

  .section__input{
    padding: 2px;
    background-color: #26292c; 
    border-color: #26292b;
    border-radius: 5px;
    width: 50%;
    margin-right: 10px;
  }

  .submit{
    color: #26292b;
    background-color: #adff2f;
    border: #adff2f;
    border-radius: 5px;
    width: 100%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding: 2%;
}

.submit:hover{
    background-color: #9cee1e;
}

.photo{
  margin-bottom: 14%;
  background-color: #272727;
}

.like{
  background-color: #272727;
}

.post-section{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}